body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}
.signup-container {
    background-color:rgb(250, 250, 250);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 1rem;
}
input {
    width: 100%;
    padding: 8px;
    padding-left: 10px;  /* Add left padding */
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;  /* Include padding in width calculation */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #bd49fd;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    box-shadow: 0 5px 4px rgba(190, 73, 253, 0.4);
}

button:hover {
    background-color:rgb(196, 86, 255);
}

button:active {
    transform: translateY(2px);
    transition: all 0.15s ease-in-out;
}

#Sign-Up-Button{
    margin-top: 20px;
    margin-bottom: 20px;
}